//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	//height: rem(140);// высота появления класса ._scroll

	@media (max-width: $md4) {
		//height: rem(40); //высота появления класса ._scroll
	}

	&._scroll {
		// стили при классе ._scroll влияющие на высоту блока
		.header__row {
			// 	min-height: rem(70);
			@media (max-width: $md3) {
				//min-height: rem(40);
			}
		}
		.header__wrapper {
			//background-color: hsla(0, 0%, 100%, 0.98);
		}
	}

	// .header__wrapper

	&__wrapper {
		transition: background-color 0.3s ease 0s;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}
}

.header {
	// .header__content

	&__content {
	}

	// .header__header

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(40);
		padding-bottom: rem(47);
		border-bottom: 1px solid $font;
	}

	// .header__row

	&__row {
		display: flex;
		align-items: center;
		// .header__row_left

		&_left {
		}

		// .header__row_right

		&_right {
		}
	}

	// .header__item

	&__item {
		&:first-child {
			margin-right: rem(50);
		}
	}

	// .header__address

	&__address {
		font-style: normal;
	}

	// .header__text

	&__text {
		font-size: rem(16);
		line-height: calc(20 / 16);
		// .header__text_bold

		&_bold {
			font-weight: 600;
		}
	}

	// .header__phone

	&__phone {
		color: inherit;
		display: inline-block;
		margin-right: rem(6);
	}

	// .header__btn

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $font;
	}

	// .header__btn-link

	&__btn-link {
		color: inherit;
		padding: em(12, 16) em(30, 16);
	}

	// .header__logo

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
	}

	// .header__menu

	&__menu {
	}

	// .header__mail

	&__mail {
		color: inherit;
	}
}

//====================================================================================================

//Burger

.menu {
	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
		@media (min-width: $md4) {
		}

		display: flex;
		padding-top: rem(30);
		justify-content: space-between;
	}

	// .menu__link
	&__link {
		font-size: rem(16);
		text-transform: uppercase;
		color: #000000;
		line-height: calc(32 / 16);
		letter-spacing: 0.2em;
	}
}

@media (max-width: $md4) {
	.burger {
		position: relative;
		z-index: 5;
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		&::before,
		&::after,
		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
			background-color: #222222;
		}
		&::before {
			content: "";
			top: 0;
		}
		span {
			bottom: 50%;
			transform: scale(1) translate(0, 50%);
		}
		&::after {
			content: "";
			bottom: 0;
		}
		&._active {
			span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				bottom: 50%;
				transform: translate(0, 50%) rotate(-45deg);
			}
		}
	}
	.menu__body {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.76);
		overflow: auto;
		transition: all 0.3s ease 0s;
		&._active {
			left: 0;
			// цвет плашки
			&::after {
				background-color: rgba(0, 0, 0, 0.76);
			}
		}
		//=========== плашка ======
		&::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			//height: px;
		}
	}

	.menu__list {
		li {
			//font-size: rem(30);
			//padding-left: 0.4em;
			&:not(:last-child) {
				//padding-bottom: 0.6em;
			}
		}
	}

	.menu__link {
	}
}
