//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<Подключаем шрифты>=====================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";

//<Иконочные шрифты>=======================================================================================
@import "icons";
//<Шрифт по умолчанию>=====================================================================================
$fontFamily: "Proxima Nova";

//!ПЕРЕМЕННЫЕ ЦВЕТА ========================================================================================
$font: #333333;
$bg: #ffffff;
$brown: #897163;

//!<ПЕРЕМЕННЫЕ>=============================================================================================
// высота шрифта браузера по умолчанию 16px
$default: 16;
// ширина минимального размера экрана
$minWidth: 375;
//  ширина макета 1920/16 = 120 em
$maxWidth: 1920;
// ширина определенного мною контейнера для коннтентной части
$maxWidthContainer: 1520;
// падинг на контейнер при уменьшении размерая экрана
$addPading: 16;
$addPading-two: 0;

//<МЕДИА ЗАПРОСЫ  СЕТКА>=====================================================================================
$valueMd2: 1366; // md 2
$valueMd3: 1024; // md 3
$valueMd4: 768; // md 4
$valueMd5: 480; // md 5

$md1: ($maxWidthContainer + $addPading) / $default + em;
$md2: ($valueMd2 + 0.02) / $default + em;
$md3: ($valueMd3 + 0.02) / $default + em;
$md4: ($valueMd4 + 0.02) / $default + em;
$md5: ($valueMd5 + 0.02) / $default + em;

//<ОБНУЛЕНИЕ>===============================================================================================
@import "null";
//<ОСНОВНАЯ СЕТКА>=========================================================================================
// падинг на контейнер определен в переменных

// .container {
// 	position: relative;
// 	margin-left: auto;
// 	margin-right: auto;
// 	max-width: rem($maxWidthContainer);

// 	@media (max-width: (($addPading * 2 + $maxWidthContainer) / $default + em )) {
// 		padding-left: #{$addPading + px};
// 		padding-right: #{$addPading + px};
// 		max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading)} + #{rem($addPading)});
// 	}
// }

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading)} + #{rem($addPading)});
	padding-left: #{$addPading + px};
	padding-right: #{$addPading + px};
}

.container-two {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading-two)} + #{rem($addPading-two)});
	padding-left: #{$addPading-two + px};
	padding-right: #{$addPading-two + px};
}

//<ОСНОВНАЯ СЕТКА>=========================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";

@import "header";
@import "footer";
@import "home";
@import "swiper";
//@import "myform";
//@import "custom-select";
//@import "forms";
//@import "spoler";

//<ОБОЛОЧКА>===========================================================================================================
._ibg {
	position: relative;

	// ._ibg__foto

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body {
	color: $font;
	background-color: $bg;
	font-weight: 400;

	&._active {
		overflow: hidden;
	}
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
._point-add {
	// ._point-add__point
	&__point {
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $font;
		}
	}
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	// .page__full-screen

	&__full-screen {
	}

	// .page__comfort

	&__comfort {
		@include REM-property-start-min(padding-top, 130, 30);
	}
	// .page__baner-portrait

	&__baner-portrait {
		@include REM-property-start-min(padding-bottom, 38, 0);
	}

	// .page__about

	&__about {
	}

	// .page__portfolio

	&__portfolio {
	}

	// .page__info

	&__info {
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</БЛОК>====================================================================================================
.full-screen {
	min-height: 100vh;
	padding-top: rem(226);
	display: flex;
	@media (max-width: (1300 / $default + em)) {
		padding-top: rem(212);
	}
	@media (max-width: (1000 / $default + em)) {
		padding-top: rem(113);
	}

	// .full-screen__body

	&__body {
		position: relative;
		width: 100%;
		flex: 1 1 auto;
		display: flex;
	}

	// .full-screen__container

	&__container {
		width: 100%;
		flex: 1 1 auto;
	}

	// .full-screen__content

	&__content {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		@include REM-property-start-min(padding-top, 50, 20);
	}

	// .full-screen__titl

	&__titl {
	}

	// .full-screen__fon

	&__fon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		img {
			z-index: -1;
		}
	}

	// .full-screen__play

	&__play {
		align-self: flex-end;
		margin-bottom: 3vh;
	}

	// .full-screen__play-link

	&__play-link {
		display: inline-block;
		width: rem(49);
		height: rem(49);
		border: 1px solid #ffffff;
		border-radius: 50%;
		transition: all 0.5s ease 0s;

		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: "";
			width: 15 / 49 * 100%;
			height: 20 / 49 * 100%;
			background-color: #ffffff;
			clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
			transform: translate(20%, 0);
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				border: 4px solid #ffffff;
				&::after {
					width: 25 / 49 * 100%;
					height: 30 / 49 * 100%;
				}
			}
		}
	}

	// .full-screen__decor

	&__decor {
		margin-bottom: rem(-86);
		//transform: translate(0, 23%);
	}
}
.titl-main {
	@include REM-property-start-min(font-size, 80, 38);
	line-height: calc(97 / 80);
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 300;
	color: #ffffff;

	.about__container & {
		@include REM-property-start-min(font-size, 80, 30);
		letter-spacing: 0.065em;
	}

	.portfolio__container & {
		color: $font;
		@include REM-property-start-min(font-size, 80, 32);
		line-height: calc(38 / 32);
		margin-bottom: 24px;

		@media (max-width: $md3) {
			margin-bottom: rem(20);
		}
	}

	// .titl-main__line

	&__line {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	// .titl-main__text-bold

	&__text-bold {
		font-weight: 400;
	}

	// .titl-main__animacia-right

	&__animacia-right {
		transition: transform 0.7s ease 0s;
		display: inline-block;
		transform: translate(300%, 0);

		._active_anim-scroll & {
			transform: translate(0, 0);
		}
	}

	// .titl-main__animacia-left

	&__animacia-left {
		transition: transform 0.7s ease 0.5s;
		display: inline-block;
		transform: translate(-300%, 0);

		._active_anim-scroll & {
			transform: translate(0, 0);
		}
	}
}
.decor-full-screen {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;

	@media (max-width: $md4) {
		justify-content: center;
	}

	// .decor-full-screen__arrow

	&__arrow {
		@media (min-width: $md3) {
			opacity: 0;
			height: 32.5%;
			width: rem(2);
			background-color: #ffffff;
			transform: translate(0, -7%);
			position: relative;
			transition: opacity 0.8s ease 1s;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 8px;
				height: 8px;
				border-bottom: 2px solid #ffffff;
				border-left: 2px solid #ffffff;
				transform-origin: bottom left;
				transform: rotate(-45deg) translate(1px, 0);
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(40);
				height: 100%;
				transform: translate(-50%, 0);
			}
			._active_anim-scroll & {
				opacity: 1;

				animation-name: up-down;
				animation-duration: 4s;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				animation-iteration-count: infinite;
				animation-direction: normal;
				animation-delay: 0s;
				animation-fill-mode: none;
			}

			@media (any-hover: hover) {
				&:hover {
					animation-play-state: paused;
				}
			}

			@keyframes up-down {
				0% {
					transform: translate(0, 0%);
				}
				50% {
					transform: translate(0, 10%);
				}
				100% {
					transform: translate(0, 0);
				}
			}
		}
	}

	// .decor-full-screen__circle

	&__circle {
	}

	// .decor-full-screen__text

	&__text {
		font-size: 22px;
		line-height: calc(27 / 22);
		letter-spacing: 0.1em;
		font-weight: 300;
		color: #ffffff;
	}
}
.figura-circle {
	// .figura-circle__svg

	&__svg {
		//372 //286
		@include REM-property-start-min(width, 372, 264);
		@include REM-property-start-min(height, 372, 264);
		//height: 372px;
		fill: transparent;
		@media (max-width: $md3) {
		}

		@media (max-width: $md4) {
			// width: 264px;
			// height: 264px;
		}
	}

	// /figura-circle__hole

	&__hole {
		fill: #333333;
	}

	// .figura-circle__segment

	&__segment {
		stroke-dasharray: 1130 38;
		stroke: #ffffff;
		stroke-width: 1px;
		stroke-dashoffset: 495;
		@media (max-width: $md4) {
			stroke-dashoffset: 663;
			stroke-dasharray: 1130 19;
		}
	}

	// .figura-circle__content

	&__content {
		width: 100%;
		height: 374px;
	}

	// .figura-circle__text

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;
	}

	&__link {
		color: inherit;
		width: 77%;
		height: 77%;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: hsla(23, 12%, 37%, 0.4);
			}
		}
	}
}

.comfort {
	// .comfort__container

	&__container {
	}

	// .comfort__grid

	&__grid {
		display: grid;
		grid-template-columns: rem(500) 1fr;
		grid-template-rows: max-content 1fr;
		@media (max-width: $md4) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}

	// .comfort__titl

	&__titl {
		grid-column: span 2;
		@include REM-property-start-min(padding-top, 107, 54);
		@include REM-property-start-min(padding-bottom, 96, 9);

		@media (max-width: $md4) {
			grid-column: span 1;
		}
	}

	// .comfort__triangle

	&__triangle {
	}

	// .comfort__foto

	&__foto {
		position: relative;
		padding-bottom: rem(141);
		@media (max-width: $md3) {
			padding-bottom: rem(41);
		}
		@media (max-width: $md4) {
			padding-bottom: 0px;
			margin-right: -16px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 38%;
			z-index: -1;
			border-right: 1px solid $brown;
		}
	}

	// .comfort__img

	&__img {
		width: 100%;
		height: rem(500);
	}

	// .comfort__baner

	&__baner {
		overflow: hidden;
	}
}

.titl-comfort {
	@include REM-property-start-min(font-size, 60, 24);
	line-height: calc(92 / 60);
	letter-spacing: 0.02em;
	text-transform: uppercase;

	// .titl-comfort__tringle

	&__tringle {
		&::before {
			content: "";
			float: right;
			width: 35%;
			height: 130px;
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			shape-outside: polygon(0 0, 100% 0, 100% 100%);

			@media (max-width: (1200 / $default + em)) {
				width: 30%;
				height: 90px;
			}

			@media (max-width: (900 / $default + em)) {
				height: 0px;
			}
		}
	}

	// .titl-comfort__bold

	&__bold {
		font-weight: 400;
	}

	// .titl-comfort__text

	&__text {
		font-weight: 300;
	}
	// .titl-comfort__baner

	&__baner {
		margin-bottom: rem(141);
		transform: translate(0, 50%);
		margin-left: -206px;
		@media (max-width: (1536 / $default + em)) {
			margin-left: -189px;
		}
		@media (max-width: $md2) {
			margin-left: -152px;
		}

		@media (max-width: $md3) {
			margin-left: 14px;
			transform: translate(0, 0);
			margin-bottom: 41px;
		}
		@media (max-width: $md4) {
			margin-bottom: 0px;
			margin-top: rem(18);
		}
	}

	// .titl-comfort__transform

	&__transform {
		@media (max-width: (1140 / $default + em)) {
			display: inline-block;
			transform: translate(100%, 0);
		}
		@media (max-width: $md3) {
			display: inline;
			transform: translate(0, 0);
		}
	}

	// . titl-comfort__animacia

	&__animacia {
		@media (min-width: $md3) {
			transition: transform 0.9s ease 0s;
			transform: translate(-200%, 0);
			._active_anim-scroll & {
				transform: translate(0, 0);
			}
		}
		&_baner {
			@media (min-width: $md3) {
				transition: all 0.9s ease 0s;
				opacity: 0;
				transform: translate(200%, 50%);
				._active_anim-scroll & {
					opacity: 1;
					transform: translate(0, 50%);
				}
			}
		}
	}
}
.baner-comfort {
	display: flex;
	height: 100%;
	justify-content: space-between;

	// .baner-comfort__left

	&__left {
		min-width: 190px;
		@media (max-width: $md3) {
			min-width: 0;
			width: 0px;
		}
	}

	// .baner-comfort__rigth

	&__rigth {
		border-left: 4px solid $font;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: $md3) {
			border-left: none;
		}
		@media (max-width: $md4) {
			flex: 1 1 auto;
			height: 126px;
			position: relative;
			border-left: 2px solid $font;
		}
	}

	// .baner-comfort__foto

	&__foto {
		width: rem(286);
		height: rem(326);
		@media (max-width: (1040 / $default + em)) {
			width: 100%;
		}
		@media (max-width: $md4) {
			position: absolute;
			top: 0;
			right: 0;
			width: 49%;
			height: 100%;
		}
	}
}

.portrait-baner {
	letter-spacing: 0.02em;
	font-weight: 400;
	text-transform: uppercase;

	// .portrait-baner__foto

	&__foto {
		width: 100%;
		height: 765px;
		@include REM-property-start-min(height, 765, 310);
	}

	// portrait-baner__container

	&__container {
	}

	// .portrait-baner__list

	&__list {
		@include REM-property-start-min(padding-top, 100, 20);
		@include REM-property-start-min(padding-bottom, 100, 50);
		display: grid;

		@media (min-width: $md4) {
			// display: flex;
			// justify-content: space-between;
			// margin: 0 50px 0 10px;

			grid-template-columns: repeat(4, max-content);
			justify-content: space-between;
			margin: 0 60px 0 20px;
			column-gap: 20px;
		}

		@media (max-width: $md4) {
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: auto;
			row-gap: 28px;
			column-gap: 15px;
		}

		@media (min-width: $md3) {
			opacity: 0;
			transform: translate(0, 50%);
			transition: all 0.8s ease 0s;
			._active_anim-scroll & {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	// .portrait-baner__item

	&__item {
		text-align: center;
	}

	// .portrait-baner__number

	&__number {
		font-family: "AshleyCapitaliSofia";
		@include REM-property-start-min(font-size, 60, 38);
		line-height: calc(73 / 60);
		@include REM-property-start-min(margin-bottom, 18, 0);

		&_icon {
			position: relative;
			&::before {
				content: "\221E";
				display: inline-block;
				transform: translate(0, -10%) scale(1.7);
			}
		}
	}

	// .portrait-baner__text

	&__text {
		@include REM-property-start-min(font-size, 28, 18);
		line-height: calc(32 / 18);
		white-space: nowrap;
	}
}

.about {
	position: relative;
	background-color: hsla(0, 0%, 20%, 0.9);

	// .about__foto

	&__foto {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	// .about__container

	&__container {
		padding-top: rem(48);
		@include REM-property-start-min(padding-bottom, 86, 40);
		@media (max-width: $md4) {
			padding-top: rem(46);
		}
	}

	// .about__titl

	&__titl {
		@include REM-property-start-min(margin-bottom, 138, 31);

		transition: all 1s ease 0s;
		opacity: 0;
		transform: translate(10%, 0);
		._active_anim-scroll & {
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// .about__swiper

	&__swiper {
	}

	// .about__body

	&__body {
	}

	// .about__control

	&__control {
		position: relative;
	}

	// .about__arows

	&__arows {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .about__arow

	&__arow {
		width: 14%;
		position: relative;
		cursor: pointer;

		padding: 10px 0;

		@media (max-width: $md3) {
			padding: 0px 0;
		}

		&::before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 15px;
			width: 10px;
			height: 10px;
			border-bottom: 2px solid #ffffff;

			@media (max-width: $md3) {
				bottom: 4px;
			}
		}

		// .about__arow_left

		&_left {
			&::after {
				left: 0;
				border-left: 2px solid #ffffff;
				transform-origin: bottom left;
				transform: rotate(45deg);
			}
		}

		// .about__arow_right

		&_right {
			&::after {
				right: 0;
				border-right: 2px solid #ffffff;
				transform-origin: bottom right;
				transform: rotate(-45deg);
			}
		}
	}
}

.slide-about {
	//@include REM-property-start-min(padding-bottom, 164, 52);
	padding-bottom: rem(164);

	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr max-content;
	column-gap: 30px;
	row-gap: 50px;

	@media (max-width: $md3) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 18px;
		padding-left: 16px;
		padding-bottom: 35px;
	}

	&__quotes {
		align-self: center;
		&::before {
			content: "";
			display: inline-block;
			background: url("../img/about/foto_quotes.png") 0 0 / contain no-repeat;
			width: 90px;
			height: 69px;
			margin: 0 15px;

			@media (max-width: $md3) {
				width: 50px;
				height: 40px;
				margin: 0 0px;
			}
			@media (max-width: $md4) {
				width: 22px;
				height: 20px;
				margin-left: 5px;
			}
		}
	}
	// .slide-about__text

	&__text {
		@include REM-property-start-min(font-size, 32, 16);
		line-height: calc(56 / 32);
		letter-spacing: 0.02em;
		font-weight: 300;
		color: #ffffff;

		@media (max-width: $md4) {
			line-height: 24px;
		}
	}

	// .slide-about__sign

	&__sign {
		grid-column-start: 2;
		@include REM-property-start-min(font-size, 28, 14);
		color: #c5c5c5;
		letter-spacing: 0.02em;
		line-height: calc(56 / 28);
		font-style: italic;
		font-weight: 300;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $md3) {
			grid-column-start: 1;
			align-items: start;
			justify-content: start;
			line-height: 18px;
			flex-direction: column;
			padding-top: 8px;
		}
	}

	// .slide-about__name

	&__name {
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			width: 10px;
			height: 1px;
			background-color: #ffffff;
			margin-right: 10px;
			@media (max-width: $md3) {
				width: 7px;
				margin-right: 7px;
			}
		}

		@media (max-width: $md3) {
			justify-content: start;
		}
	}

	// .slide-about__date

	&__date {
		@media (max-width: $md3) {
			margin: 9px 0 0 14px;
		}
	}
}

.portfolio {
	// .portfolio__container

	&__container {
		padding-top: rem(200);
		overflow: hidden;
		@media (max-width: $md3) {
			padding-top: rem(50);
		}
	}

	// .portfolio__titl

	&__titl {
		@media (min-width: $md3) {
			transition: transform 1s ease 0s;
			transform: translate(0, -300%);

			._active_anim-scroll & {
				transform: translate(0, 0%);
			}
		}
	}

	// .portfolio__decor

	&__decor {
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 50%;
			left: 14%;
			width: 14%;
			height: 500px;
			background-color: $font;
		}
	}

	// .portfolio__label

	&__label {
		@include REM-property-start-min(font-size, 32, 16);
		letter-spacing: 0.02em;
		line-height: calc(24 / 16);
		font-weight: 400;
	}

	// .portfolio__tabs

	&__tabs {
	}

	// .portfolio__footer

	&__footer {
		text-align: center;
	}
}

.tabs {
	// .tabs__nav

	&__nav {
		padding: 54px 0px 64px 0;
		@media (max-width: $md3) {
			padding: 31px 0px 32px 0;
		}
	}

	// .tabs__list

	&__list {
		display: flex;
		justify-content: start;
	}

	// .tabs__move

	&__move {
		&:not(:last-child) {
			margin-right: 30px;
		}
		&._active {
		}
	}

	// .tabs__btn

	&__btn {
		background-color: inherit;
		@include REM-property-start-min(font-size, 20, 14);
		letter-spacing: 0.02em;
		color: #555555;
		font-weight: 400;

		&._active {
			color: $font;
			font-weight: 600;
			position: relative;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -14px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $font;
			}

			@media (max-width: $md3) {
				&::after {
					bottom: -2px;
				}
			}
		}
	}

	// .tabs__body

	&__body {
	}

	// .tabs__block

	&__block {
		display: none;
		&._active {
			display: block;
		}
	}
}

.block-tab {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: rem(30);
	row-gap: 112px;
	padding-bottom: 111px;

	@media (max-width: $md2) {
		column-gap: rem(16);
	}
	@media (max-width: $md3) {
		row-gap: rem(51);
		padding-bottom: rem(50);
	}
	@media (max-width: (700 / $default + em)) {
		grid-template-columns: 1fr;
	}

	// .block-tab__item

	&__item {
	}
}

.cart-portfolio {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr max-content max-content max-content;

	// .cart-portfolio__foto

	&__foto {
		margin-bottom: rem(30);
		@media (max-width: $md3) {
			margin-bottom: rem(20);
		}
		&::after {
			content: "";
			display: block;
			padding-top: 700/745 * 100%;
		}

		@media (max-width: (700 / $default + em)) {
			margin-left: -16px;
			margin-right: -16px;
			width: auto;

			&::after {
				padding-top: 300/375 * 100%;
			}
		}
	}

	// .cart-portfolio__img-link

	&__img-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(51, 51, 51, 0.2);
			}
		}
	}

	// .cart-portfolio__text

	&__text {
		@include REM-property-start-min(font-size, 28, 14);
		line-height: calc(42 / 28);
		letter-spacing: 0.02em;
		font-weight: 400;
		margin-bottom: 25px;
		text-transform: uppercase;

		&_address {
			font-style: normal;
			font-weight: 300;
		}
	}

	// .cart-portfolio__footer

	&__footer {
		align-self: end;
	}

	// .cart-portfolio__link

	&__link {
		display: inline-block;
		color: inherit;
		font-weight: 400;
		align-self: end;
		@include REM-property-start-min(font-size, 20, 12);
		letter-spacing: 0.02em;
		text-transform: uppercase;
		position: relative;
		transition: color 0.3s ease 0s;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 20px;
			pointer-events: none;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $font;
			transition: background-color 0.3s ease 0s;
		}
		margin-top: 12px;
		@media (max-width: $md3) {
			margin-top: rem(10);
			&::after {
				top: 18px;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $brown;
				&::after {
					background-color: $brown;
				}
			}
		}
	}
}

.watch-portfolio {
	background-color: $brown;
	@include REM-property-start-min(font-size, 60, 24);
	padding-top: em(50, 60);
	padding-bottom: em(60, 60);

	// .watch-portfolio__link

	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		transition: color 0.3s ease 0s;

		&::after {
			content: "";
			width: 50px;
			height: 25px;
			margin: 0 25px;
			transition: opacity 0.3s ease 0s;
			opacity: 1;
			background: url("../img/portfolio/arrow.png") 0 0 / contain no-repeat;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #c5c5c5;
				&::after {
					opacity: 0;
				}
			}
		}
	}

	// .watch-portfolio__text

	&__text {
		letter-spacing: 0.02em;
		text-transform: uppercase;
		transition: color 0.3s ease 0s;
	}
}

.free-info {
	// .free-info__wraper

	&__wraper {
		position: relative;
	}

	// .free-info__foto

	&__foto {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .free-info__content

	&__content {
	}

	// .free-info__row

	&__row {
		display: flex;
		justify-content: end;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 99%;
			width: 300%;
			height: 100%;
			background-color: #333333;
		}
	}

	// .free-info__body

	&__body {
		flex: 0 0 40%;
		background-color: #333333;
		padding-bottom: 100px;
		padding-left: 50px;

		letter-spacing: 0.02em;
		color: #ffffff;
		text-transform: uppercase;

		&::before {
			content: "";
			display: block;
			width: 100%;
			border-left: 1px solid #ffffff;
		}

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1.08fr 1fr max-content;
		row-gap: 50px;
	}

	// .free-info__text

	&__text {
		@include REM-property-start-min(font-size, 28, 12);
		line-height: calc(50 / 28);
		padding-top: 50px;
	}

	// .free-info__btn

	&__btn {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		&::after {
			content: "";
			flex: 0 1 120px;
			height: 2px;
			background-color: #ffffff;
		}
	}

	// .free-info__link

	&__link {
		padding-right: 10px;
		color: inherit;
		font-size: 54px;
		font-weight: 600;
	}
}
