//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<Подключаем шрифты>=====================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";

//<Иконочные шрифты>=======================================================================================
@import "icons";
//<Шрифт по умолчанию>=====================================================================================
$fontFamily: "Proxima Nova";

//!ПЕРЕМЕННЫЕ ЦВЕТА ========================================================================================
$font: #333333;
$bg: #ffffff;
$brown: #897163;

//!<ПЕРЕМЕННЫЕ>=============================================================================================
// высота шрифта браузера по умолчанию 16px
$default: 16;
// ширина минимального размера экрана
$minWidth: 375;
//  ширина макета 1920/16 = 120 em
$maxWidth: 1920;
// ширина определенного мною контейнера для коннтентной части
$maxWidthContainer: 1520;
// падинг на контейнер при уменьшении размерая экрана
$addPading: 16;

//<МЕДИА ЗАПРОСЫ  СЕТКА>=====================================================================================
$valueMd2: 1366; // md 2
$valueMd3: 1024; // md 3
$valueMd4: 768; // md 4
$valueMd5: 480; // md 5

$md1: ($maxWidthContainer + $addPading) / $default + em;
$md2: ($valueMd2 - 0.02) / $default + em;
$md3: ($valueMd3 - 0.02) / $default + em;
$md4: ($valueMd4 - 0.02) / $default + em;
$md5: ($valueMd5 - 0.02) / $default + em;

//<ОБНУЛЕНИЕ>===============================================================================================
@import "null";
//<ОСНОВНАЯ СЕТКА>=========================================================================================
// падинг на контейнер определен в переменных

// .container {
// 	position: relative;
// 	margin-left: auto;
// 	margin-right: auto;
// 	max-width: rem($maxWidthContainer);

// 	@media (max-width: (($addPading * 2 + $maxWidthContainer) / $default + em )) {
// 		padding-left: #{$addPading + px};
// 		padding-right: #{$addPading + px};
// 		max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading)} + #{rem($addPading)});
// 	}
// }

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(#{rem($maxWidthContainer)} + #{rem($addPading)} + #{rem($addPading)});
	padding-left: #{$addPading + px};
	padding-right: #{$addPading + px};
}

//<ОСНОВНАЯ СЕТКА>=========================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";

@import "header";
@import "footer";
@import "home";
@import "bloks";
//@import "myform";
//@import "custom-select";
//@import "forms";
//@import "spoler";

//<ОБОЛОЧКА>===========================================================================================================
._ibg {
	position: relative;

	// ._ibg__foto

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body {
	color: $font;
	background-color: $bg;
	font-weight: 400;

	&._active {
		overflow: hidden;
	}
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
._point-add {
	// ._point-add__point
	&__point {
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $font;
		}
	}
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	// .page__full-screen

	&__full-screen {
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</БЛОК>====================================================================================================
.full-screen {
	min-height: 100vh;
	padding-top: rem(226);
	display: flex;
	@media (max-width: (1300 / $default + em)) {
		padding-top: rem(212);
	}
	@media (max-width: (1000 / $default + em)) {
		padding-top: rem(113);
	}

	// .full-screen__body

	&__body {
		position: relative;
		width: 100%;
		flex: 1 1 auto;
		display: flex;
	}

	// .full-screen__container

	&__container {
		width: 100%;
		flex: 1 1 auto;
	}

	// .full-screen__content

	&__content {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		@include REM-property-start-min(padding-top, 50, 20);
	}

	// .full-screen__titl

	&__titl {
		margin-bottom: rem(10);
	}

	// .full-screen__fon

	&__fon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		img {
			z-index: -1;
		}
	}

	// .full-screen__play

	&__play {
		align-self: flex-end;
		margin-bottom: 3vh;
	}

	// .full-screen__play-link

	&__play-link {
		display: inline-block;
		width: rem(49);
		height: rem(49);
		border: 1px solid #ffffff;
		border-radius: 50%;
		transition: all 0.5s ease 0s;

		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: "";
			width: 15 / 49 * 100%;
			height: 20 / 49 * 100%;
			background-color: #ffffff;
			clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
			transform: translate(20%, 0);
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				border: 4px solid #ffffff;
				&::after {
					width: 25 / 49 * 100%;
					height: 30 / 49 * 100%;
				}
			}
		}
	}

	// .full-screen__decor

	&__decor {
		margin-bottom: rem(-86);
	}
}
.titl-main {
	@include REM-property-start-min(font-size, 80, 38);
	line-height: calc(97 / 80);
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 300;
	color: #ffffff;

	// .titl-main__line

	&__line {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	// .titl-main__text-bold

	&__text-bold {
		font-weight: 400;
	}

	// .titl-main__animacia-right

	&__animacia-right {
		transition: transform 0.7s ease 0s;
		display: inline-block;
		transform: translate(300%, 0);

		._active_anim-scroll & {
			transform: translate(0, 0);
		}
	}

	// .titl-main__animacia-left

	&__animacia-left {
		transition: transform 0.7s ease 0.5s;
		display: inline-block;
		transform: translate(-300%, 0);

		._active_anim-scroll & {
			transform: translate(0, 0);
		}
	}
}
.decor-full-screen {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $md4) {
		justify-content: center;
	}

	// .decor-full-screen__arrow

	&__arrow {
		@media (min-width: $md3) {
			opacity: 0;
			height: 32.5%;
			width: rem(2);
			background-color: #ffffff;
			transform: translate(0, -7%);
			position: relative;
			transition: opacity 0.8s ease 1s;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 8px;
				height: 8px;
				border-bottom: 2px solid #ffffff;
				border-left: 2px solid #ffffff;
				transform-origin: bottom left;
				transform: rotate(-45deg) translate(1px, 0);
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(40);
				height: 100%;
				transform: translate(-50%, 0);
			}
			._active_anim-scroll & {
				opacity: 1;

				animation-name: up-down;
				animation-duration: 4s;
				animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				animation-iteration-count: infinite;
				animation-direction: normal;
				animation-delay: 0s;
				animation-fill-mode: none;
			}

			@media (any-hover: hover) {
				&:hover {
					animation-play-state: paused;
				}
			}

			@keyframes up-down {
				0% {
					transform: translate(0, 0%);
				}
				50% {
					transform: translate(0, 10%);
				}
				100% {
					transform: translate(0, 0);
				}
			}
		}
	}

	// .decor-full-screen__circle

	&__circle {
	}

	// .decor-full-screen__text

	&__text {
		font-size: 22px;
		line-height: calc(27 / 22);
		letter-spacing: 0.1em;
		font-weight: 300;
		color: #ffffff;
	}
}
.figura-circle {
	// .figura-circle__svg

	&__svg {
		//372 //286
		@include REM-property-start-min(width, 372, 264);
		@include REM-property-start-min(height, 372, 264);
		//height: 372px;
		fill: transparent;
		@media (max-width: $md3) {
		}

		@media (max-width: $md4) {
			// width: 264px;
			// height: 264px;
		}
	}

	// /figura-circle__hole

	&__hole {
		fill: #333333;
	}

	// .figura-circle__segment

	&__segment {
		stroke-dasharray: 1130 38;
		stroke: #ffffff;
		stroke-width: 1px;
		stroke-dashoffset: 495;
		@media (max-width: $md4) {
			stroke-dashoffset: 663;
			stroke-dasharray: 1130 19;
		}
	}

	// .figura-circle__content

	&__content {
		width: 100%;
		height: 374px;
	}

	// .figura-circle__text

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;
	}

	&__link {
		color: inherit;
		width: 77%;
		height: 77%;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: hsla(23, 12%, 37%, 0.4);
			}
		}
	}
}
